<a
  href="https://linkedin.com/in/MarcosFriasMolina"
  target="_blank"
  rel="noopener"
  class="relative flex items-center transition md:justify-center md:hover:scale-105"
>
  <div class="flex items-center -z-10">
    <span class="relative inline-flex overflow-hidden rounded-full p-[2px]">
      <span
        class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#fff567_0%,#fff567_0_50%,lightyellow_100%)]"
      ></span>
      <div
        class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-white bg-zinc-900 rounded-full cursor-pointer backdrop-blur-3xl whitespace-nowrap"
      >
        {Astro.props.text}
      </div>
    </span>
  </div>
</a>
