---
import SectionContainer from "../../layouts/SectionContainer.astro";
import avatar from "/src/assets/avatar.webp";
import { Picture } from "astro:assets";
---

<SectionContainer id="chi-sono" class="sm:mt-10" title="Conoscimi meglio">
  <section
    class="flex flex-col md:block after:table max-w-[1200px] after:content-none after:clear-both w-full"
  >
    <Picture
      loading="eager"
      class="circle mr-20 rounded-full self-center md:float-left shadow-lg size-72 border-[3px] border-black dark:border-white mx-auto"
      src={avatar}
      alt="Marcos Frias Molina Avatar"
    />

    <p class="text-xl text-pretty w-full opacity-70">
      A 14 anni ho iniziato ad esplorare il mondo della programmazione
      utilizzando Notepad++ su Windows XP, modificando il codice di terzi per
      personalizzare il design dei siti web. Nonostante ciò, solo oggi, quasi 10
      anni dopo, ho intrapreso seriamente la strada che tanto desideravo nel
      diventare un programmatore e realizzare progetti più complessi e
      ambiziosi.
    </p>

    <p class="text-xl text-balance w-full opacity-70">
      Sono motivato a crescere professionalmente e a contribuire con dedizione e
      impegno al successo dell'azienda. Sono un apprendista veloce, attento ai
      dettagli e desideroso di mettere in pratica le mie competenze tecniche per
      realizzare prodotti di alta qualità. Sono convinto che la mia passione per
      lo sviluppo front-end e la mia determinazione possano portare un valore
      aggiunto.
    </p>
   </section>
</SectionContainer>
<style>
  .circle {
    shape-outside: circle();
  }
</style>
