---
import Layout from "../layouts/Layout.astro";
import gif404 from "../assets/404.gif";
import SectionContainer from "../layouts/SectionContainer.astro";
import { Image } from "astro:assets";
---

<Layout
  title="Marcos Frias - Sviluppatore Web Front-end"
  description="Sviluppatore Web appassionato con il front-end"
>
  <SectionContainer
    class="flex justify-center items-center h-screen w-screen"
    title="Error 404"
  >
    <h1 class="text-3xl font-semibold">Work in progress...</h1>
    <Image loading="eager" src={gif404} alt="404 error Meme Dog this is fine" />
  </SectionContainer>
</Layout>
