---
import NavBar from "./NavBar.astro";
import ChangeThemeButton from "./ChangeThemeButton.astro";
import MFLogo from "./MFLogo.astro";
---

<header
  {...Astro.props}
  class="mx-auto bg-black/50 md:bg-transparent fixed top-0 z-50 w-full h-auto px-5 py-5 md:py-0 md:px-10 lg:pl-40"
>
  <div
    class="flex flex-row items-center justify-between max-w-[1000px] mx-auto"
  >
    <ChangeThemeButton />

    <MFLogo />

    <button
      id="hamburgerButton"
      class="visible md:invisible order-4 hamburger hamburger--vortex-r bg-black dark:bg-transparent"
      type="button"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <NavBar
      id="hamburgerNavBar"
      class="hidden bg-black md:bg-transparent md:rounded-none md:flex flex-col md:flex-row absolute md:static z-50 w-full h-auto top-24 left-0 gap-10 py-2 md:top-0 items-center justify-between md:gap-2 md:w-auto lg:w-1/2 px-9 min-h-12"
    />
  </div>
  <!-- HamburgerMenu -->

  <!-- HamburgerMenu -->
</header>

<style>
  header {
    backdrop-filter: blur(15px);
  }
</style>

<script is:inline>
  const hamburgerButton = document.querySelector("#hamburgerButton");
  const hamburgerNavBar = document.querySelector("#hamburgerNavBar");
  hamburgerButton.addEventListener("click", handleClick);

  function handleClick() {
    hamburgerButton.classList.toggle("is-active");
    hamburgerNavBar.classList.toggle("hidden");
    hamburgerNavBar.classList.toggle("flex");
    const navItems = document.querySelectorAll(".navItem");
    console.log(navItems);

    navItems.map((item) => {
      item.addEventListener("click", () => {
        hamburgerButton.classList.toggle("is-active");
        hamburgerNavBar.classList.toggle("hidden");
      });
    });
  }
</script>
