---
import NavBar from "./NavBar.astro";
import ChangeThemeButton from "./ChangeThemeButton.astro";
import MFLogo from "./MFLogo.astro";
---

<header
  {...Astro.props}
  class="mx-auto backdrop-blur-lg bg-black/30 dark:bg-black/20 fixed top-0 z-50 w-full h-auto px-1 py-[10px] md:px-10"
>
  <div
    class="flex flex-row items-center justify-between gap-3 lg:gap-0 max-w-[1200px] mx-auto"
  >
    <ChangeThemeButton />

    <MFLogo />

    <button
      id="hamburgerButton"
      class="inline-block md:hidden order-4 hamburger hamburger--vortex-r bg-black/50 dark:bg-transparent"
      type="button"
    >
      <span class="block hamburger-box">
        <span class="block hamburger-inner"></span>
      </span>
    </button>

    <NavBar
      id="hamburgerNavBar"
      class="hidden dark:bg-zinc-900/90 md:dark:bg-zinc-900 bg-[#919191e7] md:rounded-full rounded-none md:flex flex-col md:flex-row absolute md:static z-50 w-full h-auto top-20 left-0 gap-10 py-12 md:py-2 md:top-0 items-center justify-between md:gap-2 md:w-auto lg:w-1/2 px-9 min-h-12"
    />
  </div>
</header>

<script is:inline>
  const hamburgerButton = document.querySelector("#hamburgerButton");
  const hamburgerNavBar = document.querySelector("#hamburgerNavBar");
  hamburgerButton.addEventListener("click", handleClick);

  function handleClick() {
    hamburgerButton.classList.toggle("is-active");
    hamburgerNavBar.classList.toggle("hidden");
    hamburgerNavBar.classList.toggle("flex");
  }
</script>
