---
import NavItem from "./NavItem.astro";
---

<nav {...Astro.props}>
  <NavItem checked href="/#header" content="Inizio" />
  <NavItem href="/#progetti" content="Progetti" />
  <NavItem href="/#chi-sono" content="Chi sono" />
  <NavItem
    target="_blank"
    href="https://linkedin.com/in/MarcosFriasMolina"
    content="Contatto"
  />
</nav>

<script>
  const $navItems = document.querySelectorAll(".navAnchor");
  $navItems.forEach(($navItem) => {
    $navItem.addEventListener("click", () => {
      $navItems.forEach((item) => item.classList.remove("active"));
      $navItem.classList.add("active");
      const $hamburgerNavBar = document.querySelector("#hamburgerNavBar");
      const $hamburgerButton = document.querySelector("#hamburgerButton");
      $hamburgerButton.classList.toggle("is-active");
      $hamburgerNavBar.classList.toggle("hidden");
      $hamburgerNavBar.classList.toggle("flex");
    });
  });
</script>
