---
import NavItem from "./NavItem.astro"
---

<nav {...Astro.props}>
        <NavItem href="/#" content="Inizio"/>
        <NavItem href="/#" content="Progetti"/>
        <NavItem href="/#" content="Chi sono"/>
        <NavItem href="/#" content="Contatto"/>
</nav>