---
import NavItem from "./NavItem.astro";
---

<nav {...Astro.props}>
  <NavItem checked href="/#header" content="Inizio" />
  <NavItem href="/#progetti" content="Progetti" />
  <NavItem href="/contact/" content="Chi sono" />
  <NavItem href="/contact/" content="Contatto" />
</nav>

<script>
  console.log(document.querySelectorAll("input"));
</script>
