---
import NavItem from "./NavItem.astro";
---

<nav {...Astro.props}>
  <NavItem checked href="/#header" id="nav1" content="Inizio" />
  <NavItem href="/#progetti" id="nav2" content="Progetti" />
  <NavItem href="/contact/" id="nav3" content="Chi sono" />
  <NavItem href="/contact/" id="nav4" content="Contatto" />
</nav>

<script>
  const $navItems = document.querySelectorAll(".navAnchor");
  $navItems.forEach(($navItem) => {
    $navItem.addEventListener("click", () => {
      $navItems.forEach((item) => item.classList.remove("active"));
      $navItem.classList.add("active");
    });
  });
</script>
