---
import NavItem from "./NavItem.astro";
---

<nav {...Astro.props}>
  <NavItem checked href="/#" content="Inizio" />
  <NavItem href="/#" content="Progetti" />
  <NavItem href="/#" content="Chi sono" />
  <NavItem href="/#" content="Contatto" />
</nav>
