---
const { href, content } = Astro.props;
---

<a
  href={href}
  class="navAnchor relative cursor-pointer -z-10 bg-transparent rounded-full px-4 py-[1px] hover:bg-yellow-400/70"
>
  {content}
</a>

<style>
  .active {
    background-color: rgb(250, 209, 63);
    color: black;
  }
</style>
