---
import Badge from "./Badge.astro";
import Profile from "./Profile.astro";
import SocialButton from "./SocialButton.astro";
import linkedin from "../../public/svg/linkedin.svg";
import gmail from "../../public/svg/gmail.svg";
---

<section
  class="mx-auto max-w-[800px] flex flex-col flex-nowrap items-start p-5 mb-28 mt-40"
>
  <div class="flex flex-row flex-nowrap justify-center items-center gap-7 mb-3">
    <Profile
      avatarUrl="/images/avatar.webp"
      description="Marcos Frias photo profile"
    />
    <Badge text="Disponibilità immediata" />
  </div>
  <span class="text-4xl sm:text-5xl my-6 sm:my-2 font-black text-balance"
    >Ciao, sono <h1
      class="radient-animation font-italianno text-[65px] sm:text-[85px]"
    >
      Marcos Frias
    </h1></span
  >
  <p class="text-2xl text-pretty">
    Dopo 6 mesi di studi, esercitazioni e progetti con <strong
      class="font-bold dark:text-yellow-200"
      >HTML, CSS, JavaScript, React, TailwindCSS</strong
    > e altre tecnologie, insieme alla partecipazione di oltre 400 ore di corsi in
    presenza e più di 700 ore di materiale didattico, mi sento pronto per iniziare
    il mio percorso lavorativo come <strong
      class="font-bold dark:text-orange-300">Sviluppatore Front-end.</strong
    >
  </p>
  <div class="flex gap-3 my-4">
    <SocialButton
      href="https://linkedin.com/in/MarcosFriasMolina"
      svg={linkedin}
      text="LinkedIn"
    />
    <SocialButton
      href="mailto:marcofrias0828@gmail.com"
      svg={gmail}
      text="marcofrias0828@gmail.com"
    />
  </div>
</section>

<style>
  svg {
    font-family: "Russo One", sans-serif;
    position: absolute;
  }
  svg text {
    animation: stroke 7s backwards;
    stroke: #fff567;
    stroke-width: 2;
  }
  @keyframes stroke {
    0% {
      stroke: #fff567;
      stroke-dashoffset: 25%;
      stroke-dasharray: 0 50%;
      stroke-width: 2;
    }
    70% {
      stroke: #fff567;
    }
    80% {
      stroke: #fff567;
      stroke-width: 3;
    }
    100% {
      stroke: #fff567;
      stroke-dashoffset: -25%;
      stroke-dasharray: 50% 0;
      stroke-width: 0;
    }
  }
</style>
