{
  Astro.props.title && (
    <div class="relative flex items-center justify-center w-full">
      <h1 class="font-italianno radient-animation text-[85px] sm:text-[120px] mb-16 transition-opacity">
        {Astro.props.title}
      </h1>
      <svg
        class="-z-10 absolute opacity-60 md:opacity-20 show"
        viewBox="0 0 1920 1080"
      >
        <text
          x="50%"
          y="50%"
          text-anchor="middle"
          class="font-italianno text-[800px] sm:text-[500px] stroke-2 stroke-[rgba(254, 240, 138, 1)] dark:stroke-[rgba(254, 240, 138, 1)] animate-[stroke_5s_infinite]"
        >
          {Astro.props.title}
        </text>
      </svg>
    </div>
  )
}
